/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 12, 2019, 7:16:47 PM
    Author     : Bao Anh Luu
*/
.cap{
    background-color:#fc9f13 ;
}
.order-table tr{
    border-top: 1px solid;
    border-bottom: 1px solid;
}
.order-table td{
    border-left: 1px solid;
    border-right: 1px solid;
}
.item-td{
    text-align: center;
}
.order-table th{
    border-left: 1px solid;
    border-right: 1px solid;
}
.order-table{
    border-collapse: collapse;
    width: 70%;
}
.remove-td{
    width: 1%;
}
.divBtn{
   text-align: center;
}
